body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aboutMeCntr{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introDetails{
  width: 20vw;
}

.contactCntr{
  display: flex;
  align-items: center;
}

.contactDetails{
  
  margin: 5px;
}