body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* About Component CSS */

.aboutMeCntr{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* About - profile detail CSS */
.introDetails{
  width: 40vw;
}

/* About - contact CSS */
.contactCntr{
  display: flex;
  align-items: center;
}

.contactDetails{
  margin: 5px;
}

/* Project 1 - Robot Man Page CSS styling */
/* RobotMan - container  */
.compCntr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compImg{
  border: 1px solid black;
  width: 40vw;
}

.compLive{
  display: inline;
}
.compGithub{
  display: inline;
}
.compDetails{
  width: 40vw;
}